<div class="row row-cols-1 row-cols-md-2 g-4">
<% _.each(collection, function(model) { %>
  <div class="col">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title"><%= model.Name %></h5>
        <p class="card-text">This is a wrestler.</p>
        <button class="btn btn-primary details-btn" type="button" data-bs-toggle="offcanvas" data-bs-target="#wrestlerInfo" aria-controls="wrestlerInfo">
          Details
        </button>
      </div>
    </div>
  </div>
<% }); %>
</div>